# Database
DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb"

# Database (Docker Compose)
POSTGRES_USER="johndoe"
POSTGRES_PASSWORD="randompassword"
POSTGRES_DB="mydb"

# Better Auth
BETTER_AUTH_SECRET="your-secret-key-at-least-32-characters-long"
BETTER_AUTH_URL="http://localhost:3000"
